.form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

/* .disabledBtn {
    opacity: .6;
    pointer-events: none;
} */

.submit_btn {
    margin-top: 10px;
    width: 80px;
    align-self: center;
    cursor: pointer;
}

.select_fields {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.field {
    display: flex;
    justify-content: space-between;
    width: 10em;
    padding: .4em;
    border: 1px solid black;
    margin: 2px;
}